@import "variables";

.list {
    margin: 0;
    list-style: none;
}

.list-item {
    display: inline-block;
}

.list-item:not(:last-child) {
    margin-right: 10px;
}

.link {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
}

.link:hover,
.link.is-active {
    color: color(var(--color-alabaster) blackness(40%));
    text-decoration: underline;
}
