@import "variables";

/* stylelint-disable */

.button {
    --color-text: var(--color-black);
    --color-background: var(--color-white);

    will-change: background, color;
    position: relative;
    width: 100%;
    height: 35px;
    padding: 0;
    background: var(--color-background);
    border-radius: 4px;
    color: var(--color-text);
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    appearance: none;

    &:matches(:active, :focus, :visited, :hover) {
        outline: none;
    }

    &:hover {
        background: var(--color-orange);
        --color-text: var(--color-white);
    }
}

.button.disabled {
    opacity: 0.8;
    cursor: not-allowed;

    &:hover {
        background: none;
    }
}

/* stylelint-enable */
