@import "variables";

/* ==========================================================================
   Layout
   ========================================================================== */

.header {
    height: var(--layout-header-height);
    z-index: 5;
    padding: 10px var(--layout-edge-spacing-x);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ==========================================================================
   Logo
   ========================================================================== */

.logo {
    color: var(--color-blue);
    font-size: 30px;
    font-weight: 600;
}
