const mapStateToProps = (state) => ({
    items: state.items,
});

const mapDispatchToProps = (dispatch) => ({
    load: (productId) => dispatch(load(productId));
});

export default connect(mapStateToProps, mapDispatchToProps)(WrappedComponent);
