export function loadProductInfoUponAdding() {
    return (store) => (next) => (action) => {
        if (action.type === PRODUCT_INFO) {
            const { productId } = action.payload;

            store.dispatch(loadProductInfo(productId);
        }

        // We need to pass the action down to the other middlewares
        return next(action);
    };
}
