function addProduct(state, action) {
    const { item } = action.payload;

    return {
        items: [
            ...state.items,
            item,
        ],
    };
}

export default function itemsReducer(state, action) {
    switch(action.type) {
        case ADD_ITEM:
            return addProduct(state, action);
        default:
            return state;
    }
}
