function removeFromArray(state, action) {
    const { itemIndexToRemove } = action.payload;

    return {
        items: [
            ...state.items.slice(0, itemIndexToRemove),
            ...state.items.slice(itemIndexToRemove + 1),
        ],
    };
}

function addToArray(state, action) {
    const { item } = action.payload;

    return {
        items: [
            ...state.items,
            item,
        ],
    };
}

export default function itemsReducer(state, action) {
    switch(action.type) {
        case REMOVE_ITEM:
            return removeFromArray(state, action);
        case ADD_ITEM:
            return addToArray(state, action);
        ...
        default:
            return state;
    }
}
